
<app-top-bar></app-top-bar>
  <div class="container">
    <div class="widgetWrapper">
      <button class="widgetContainer" routerLink="/"> Home </button>
      <button class="widgetContainer" *ngIf="!isAuthenticated" routerLink="/login"> Login </button>
      <button class="widgetContainer" *ngIf="isAuthenticated" (click)="logout()"> Logout </button>
      <button class="widgetContainer" routerLink="/protected"> Protected </button>
    </div>   
<router-outlet></router-outlet>
  </div>


