<div class="claimsContainer">
  <h1 class="ui header">
    My User Profile (ID Token Claims)
  </h1>
  <p>
    Below is the information (Claims) from your ID Token which was obtained during the
    <a href="https://developer.okta.com/docs/guides/implement-auth-code-pkce" target="_blank">PKCE Flow</a>
    and is now stored in local storage.
  </p>
  <table class="ui table">
    <thead>
      <tr>
        <th>Claim</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let claim of claims">
        <td>{{claim.claim}}</td>
        <td id="claim-{{claim.claim}}">{{claim.value}}</td>
      </tr>
    </tbody>
  </table>
</div>